:root {
  --hub-dark-gray: #404A4D;
  --hub-mint-leaf: #16C499;
  --hub-turquoise: #29DBB3;
  --hub-dark-teal: #0E7469;
  --hub-alabaster-gray: #BFC4C6;
  --hub-onyx: #090F0D;
  --hub-black: #000000;
  --hub-white: #FFFFFF;
  --hub-light-bg: #F5F7F7;
  --hub-page-bg: #f9f7f4;
  --hub-border: #D9E1E2;
  --hub-cyan-bright: #00FFFF;
  --hub-lad-cyan: #11D6C5;
  --hub-lad-cyan-light: #2CE5D6;
  --hub-lad-cyan-dark: #0BA79A;
  --web-lad:#A6FFF0 ;
  --hub-gray: #b2b9bb;
  --verdehub: #DAEF30;
  --cianhub: #9CFFEC; 

  --hub-gradient-primary: linear-gradient(
    135deg,
    #16C499 0%,
    #29DBB3 100%
  );

  --hub-gradient-dark: linear-gradient(
    135deg,
    #090F0D 0%,
    #0E7469 100%
  );

  --hub-font-main: 'Karla', sans-serif;
  --hub-font-heading: 'Roboto Mono', monospace;

  --hub-container: 1200px;
  --hub-page-padding: 1.5rem;
  --hub-nav-height: 5rem;

  --hub-radius-sm: 0.5rem;
  --hub-radius-md: 1rem;
  --hub-shadow-soft: 0 8px 24px rgba(9, 15, 13, 0.08);
  --hub-shadow-nav: 0 2px 8px rgba(0, 0, 0, 0.12);
}